{% extends 'layout.html.twig' %}
{% block title %}Formation{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/services.css">
    <link rel="stylesheet" href="/assets/css/training.css">
{% endblock %}

{% block content %}
<section id="training" class="training">
    <div class="training-heading">
        <h2>Découverte de vos pouvoirs spirituels</h2>
    </div>
    <div class="container">
        <h3 class="program">Au programme de la formation</h3>
        <div class="part row d-flex p-5">
            <div class="bases">
                <h3>Les bases</h3>
                <div class="col-12 col-sm-12 col-md-9 col-lg-9">
                    <ul class="list-unstyled">
                        <li>Les qualités requises pour mettre à profit son don</li>
                        <li>Développer ses capactités extra-sensorielles (mise en pratique)</li>
                        <li>Quel support utiliser</li>
                        <li>Contacter ses guides spirituels (mise en pratique)</li>
                        <li>Pourquoi sommes-nous fatigués? Comment se ressourcer?</li>
                        <li>Comment se purifier des maux de la clientèle après une consultation (stress, tristesse, maux de tête,..)</li>
                        <li>Qu'est-ce qui peut bloquer votre médiumnité?</li>
                        <li>Comment fonctionnent les flashs ou visions? Comment les interpréter? (mise en pratique)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="part row d-flex align-items-start justify-content-around p-5">
            <h3>Les protections</h3>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <img src="../assets/images/protection.jpg" class="img-fluid" alt="Image symbolisant des protections">
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 ">
                <ul class="list-unstyled">
                    <li>La préparation avant et pendant la consultation</li>
                    <li>L'encrage (mise en pratique)</li>
                    <li>Lithothérapie : connaissance des pierres principales pour son activité</li>
                </ul>
            </div>
        </div>
        <div class="part row d-flex align-items-start justify-content-around p-5">
            <h3>Les esprits</h3>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <img src="../assets/images/esprits.jpg" class="img-fluid" alt="Image symbolisant des esprits">
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 ">
                <ul class="list-unstyled">
                    <li>Que sont les esprits</li>
                    <li>Les différents esprits</li>
                    <li>Pourquoi s'en défaire</li>
                    <li>Comment se purifier</li>
                    <li>Les symptômes d'un esprit accroché à soi</li>
                </ul>
            </div>
        </div>
        <div class="part row d-flex align-items-start justify-content-around p-5">
            <h3>Les magies</h3>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <img src="../assets/images/magie.jpg" class="img-fluid" alt="Image symbolisant la magie noire et blanche">
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 ">
                <ul class="list-unstyled">
                    <li>La magie noire, comment s'en protéger?</li>
                    <li>La magie blanche, votre meilleure alliée</li>
                <ul>
            </div>
        </div>
            <div class="part row d-flex align-items-start justify-content-around p-5">
            <h3>Culture générale</h3>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <img src="../assets/images/culture.jpg" class="img-fluid" alt="Image d'un livre">
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 ">
                <ul class="list-unstyled">
                    <li>Les lectures indispensables à votre formation continue</li>
                    <li><b>Ne jamais arrêter d'apprendre !</b></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}