{% extends 'Visitor/layout.html.twig' %}
{% block title %}Formation{% endblock %}
{% block stylesheet %}
    {{ parent()}}
    <link rel="stylesheet" href="/assets/css/services.css">
    <link rel="stylesheet" href="/assets/css/history/indexHistory.css">
{% endblock %}

{% block content %}
<section id="full-story" class="full-story">
    <div class="full-story-heading">
        <h2>Qui suis-je?</h2>
    </div>
    <div class="container">
        <h3 class="journey">Mon parcours</h3>
        <div class="part row d-flex align-items-start justify-content-around p-5">
            <h3>À 8 ans :</h3>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <img src="../assets/images/history/8ans.webp" class="img-fluid" alt="Image symbolisant l'enfance">
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 ">
                Tout à commencé à l'âge de 8 ans lorsque nous avons emménagé dans cette vieille maison à Chécy... 
                Une nuit, je me suis réveillée en criant la phrase suivante : 
                "je vois des petits bonhommes !". Ma mère était folle d'inquiétude et mon père est resté d'un calme 
                absolu, comme s'il savait, mais il n'a rien dit...</br>
                J'ai passé des nuits entières à "voir" ces petits bonhommes dans ma tête lorsque je fermais les yeux et puis se sont 
                enchaînées des sortes de voix indéchiffrables, comme si j'étais un vieux poste 
                radio qui ne parvenait pas à capter des milliards de fréquences... 
                je leur demandais de partir et de se taire en mettant mes mains sur mes oreilles...</br>
                Je ne saurais dire combien de semaines ou de mois cela a duré, car pour moi c'était comme si le temps 
                s'était arrêté et que chaque jour, chaque nuit était identique...
            </div>
        </div>
        <div class="part row d-flex align-items-start justify-content-around p-5">
            <h3>De 9 à 20 ans :</h3>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <img src="../assets/images/history/9-20ans.jpg" class="img-fluid" alt="Image symbolisant l'adolescence de Nathalie">
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 ">
                J'ai très mal vécu cette période car je ne savais pas ce que j'avais, je sentais que quelque chose n'était pas "normal" et ma "différence" s'est confirmée en grandissant.</br>
                Mon père a tenté tant bien que mal de me fermer ce qu'il appelait le 3ème oeil mais cela a continué 
                chroniquement à l'adolescence jusqu'à ce que je rentre dans la vie active à l'âge de 20 ans.
            </div>
        </div>
        <div class="part row d-flex align-items-start justify-content-around p-5">
            <h3>À 30 ans :</h3>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <img src="../assets/images/history/30ans.jpg" class="img-fluid" alt="Image d'un jeu de tarot">
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 ">
                Je ne voulais pas de cette "chose", je pensais que je subissais une malédiction, 
                j'ai tout fait pour repousser ce que j'ai ignoré jusqu'à mes 30 ans.</br>
                C'est lorsque j'ai renoué un véritable lien avec mon père qu'il m'a appris que 
                j'avais un don de <strong>médium</strong> de naissance, que déjà lorsque j'étais bébé je voyais des "esprits" me confia-t-il. 
                Il n'a jamais voulu m'en parler pensant que j'étais trop jeune pour comprendre. J'ai alors travaillé ce sixième sens 
                petit à petit, n'ayant pas vraiment confiance. Puis un ami depuis plus de 20 ans, Stéphane, vivant au Costa Rica, m'a dit que je devrais me lancer, 
                après tout j'avais fait un tirage de tarot une fois en vacances à une amie et tout s'était produit... 
                Alors j'ai acheté mon premier jeu de cartes et Stéphane est venu 3 semaines en France, il a été mon premier véritable "cobaye"... 
                Je n'arrive toujours pas à croire que cela s'est produit... comme si tout s'était débloqué avec lui, j'ai eu des visions, des mots qu'on me disait 
                et qu'enfin je pouvais "capter". Je me suis sentie bien, heureuse, sereine, comme si j'avais enfin trouvé mon chemin de vie.
            </div>
        </div>
            <div class="part row d-flex align-items-start justify-content-around p-5">
            <h3>À 42 ans :</h3>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <img src="../assets/images/history/42ans.jpg" class="img-fluid" alt="Image symbolisant la liberté">
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 ">
                À l'heure où j'écris ces quelques mots, tout ce que j'avais annoncé à mon ami Stéphane s'est produit, même les choses les plus improbables. 
                Depuis, j'exerce mon métier de <strong>médium</strong> avec passion et j'espère pouvoir encore aider beaucoup de monde.
            </div>
        </div>
    </div>
</section>
{% endblock %}