{% extends 'layout.html.twig' %}
{% block title %}Formation{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/prestations.css">
    <link rel="stylesheet" href="/assets/css/formation.css">
{% endblock %}

{% block content %}
<section id="formation" class="formation">
    <div class="formation-heading">
        <h2>Découverte de vos pouvoirs spirituels</h2>
    </div>
    <div class="container">
        <h3 class="programme">Au programme de la formation</h3>
        <div class="part row d-flex p-5">
            <div class="bases">
                <h3>Les bases</h3>
                <div class="col-12 col-sm-12 col-md-9 col-lg-9">
                    <p>Les qualités requises pour mettre à profit son don</p>
                    <p>Développer ses capactités extra-sensorielles (mise en pratique)</p>
                    <p>Quel support utiliser</p>
                    <p>Contacter ses guides spirituels (mise en pratique)</p>
                    <p>Pourquoi sommes-nous fatigués? Comment se ressourcer?</p>
                    <p>Comment se purifier des maux de la clientèle après une consultation (stress, tristesse, maux de tête,..)</p>
                    <p>Qu'est-ce qui peut bloquer votre médiumnité?</p>
                    <p>Comment fonctionnent les flashs ou visions? Comment les interpréter? (mise en pratique)</p>
                </div>
            </div>
        </div>
        <div class="part row d-flex align-items-start justify-content-around p-5">
            <h3>Les protections</h3>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <img src="../assets/images/protection.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 ">
                <p>La préparation avant et pendant la consultation</p>
                <p>L'encrage (mise en pratique)</p>
                <p>Lithothérapie : connaissance des pierres principales pour son activité</p>
            </div>
        </div>
        <div class="part row d-flex align-items-start justify-content-around p-5">
            <h3>Les esprits</h3>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <img src="../assets/images/esprits.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 ">
                <p>Que sont les esprits</p>
                <p>Les différents esprits</p>
                <p>Pourquoi s'en défaire</p>
                <p>Comment se purifier</p>
                <p>Les symptômes d'un esprit accroché à soi</p>
            </div>
        </div>
        <div class="part row d-flex align-items-start justify-content-around p-5">
            <h3>Les magies</h3>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <img src="../assets/images/magie.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 ">
                <p>La magie noire, comment s'en protéger?</p>
                <p>La magie blanche, votre meilleure alliée</p>
            </div>
        </div>
            <div class="part row d-flex align-items-start justify-content-around p-5">
            <h3>Culture générale</h3>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <img src="../assets/images/culture.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 ">
                <p>Les lectures indispensables à votre formation continue</p>
                <p><b>Ne jamais arrêter d'apprendre !</b></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}