<section id= "testimony" class= "testimony">
    <h2>Témoignages</h2>
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/images/592367.jpg" class="d-block w-100 h-100" alt="...">
                <div class="carousel-caption d-flex justify-content-center">
                    <h3>Océane.H</h3>
                        <p class="d-flex justify-content-center">Je recommande Nathalie, qui explique très bien comment elle fonctionne,
                            et je la remercie pour les réponses qu'elle a pu me donner !
                        </p>            
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/images/592367.jpg" class="d-block w-100 h-100" alt="...">
                <div class="carousel-caption d-flex justify-content-center">
                    <h3>Clemence.D</h3>
                        <p class="d-flex justify-content-center">J'ai consulté Mme MILLIET 2 fois en quatre ans et je ne peux que vous la recommander, elle est bienveillante, vous met à l'aise, 
                            vous explique parfaitement bien comment va se dérouler la séance et on ressort de chez elle véritablement apaisée. Pour ma part en tout cas, 
                            je suis ravie et toutes ces prédictions et avertissements se sont avérées utiles et justes.
                        </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/images/592367.jpg" class="d-block w-100 h-100" alt="...">
                <div class="carousel-caption d-flex justify-content-center">
                    <h3>Claire.B</h3>
                        <p class="d-flex justify-content-center">Une question quant à votre présent et/ou votre avenir ? Je vous recommande Nathalie. 
                            Tout simplement stupéfiante ! Bienveillante, pédagogue, sensible, souriante et pertinente ! 
                            En 1h, le doute à fait place à l’évidence... Tout simplement : merci d’être sur mon chemin ! À bientôt...
                        </p>                      
                </div>
            </div>
        </div>
    </div>
</section> 