<section class="story" id="story">
  <h2 class="story-h2">Qui suis-je?</h2>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                <img src="assets/images/story/photo_nathalie2.webp" class="img-fluid" alt="image of girls in pink purple background image">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 ">
                <p>Depuis l'âge de 8 ans, je perçois des sons ainsi que des visions. 
                    A cette époque cela était difficile à appréhender ce phénomène. 
                    Puis ne pouvant pas m'en défaire, j'ai appris à l'accepter et à le maîtriser. 
                    C'est pourquoi, je vous propose de partager mon don et de lire à travers les cartes votre avenir.
                    <a href="/history/index">En savoir+</a>
                </p>
            </div>
        </div>
    </div>
</section>   
