{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/indexHome.css">
    <link rel="stylesheet" href="/assets/css/indexStory.css">
{% endblock %}

{% block content %}
    <section class="home" id="home">
        <img src="../../assets/images/home/LOGO.png" class="img-fluid" alt="Responsive image">
        <div class="h2a">
            <p>Découvrez ce que l'avenir vous réserve</p>
            <a href="#Contact" type="button" class="btn colorButton btn-lg ">Me contacter</a>
        </div>
    </section> 

    {% include 'Home/story.html.twig' %}
{% endblock %}
