<section id= "testimony" class= "testimony">
    <div id= "testimonyCarousel" class= "testimonyCarousel">
        <h2 class="carousel-title">Témoignages</h2>
        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for testimony in testimonies %}
                    {% if loop.index == 1 %}
                        <div class="carousel-item active text-left p-2">
                    {% else %}
                        <div class="carousel-item text-left p-2">
                    {% endif %}
                            <p>{{ testimony.message }}</p>
                            <h3 class="testifying">{{ testimony.name }}</h3>            
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="testimony-contact">
        <a href="/testimony/index" class="button-testimony">Témoignez en cliquant ici</a>
    </div>
</section> 
