<section id= "testimony" class= "testimony">
    <h2 class="carousel-title">Témoignages</h2>
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active text-left p-2">
                <p>Je recommande Nathalie, qui explique très bien comment elle fonctionne,
                    et je la remercie pour les réponses qu'elle a pu me donner !
                </p>
                <h3 class="testifying">Océane.H</h3>            
            </div>
            <div class="carousel-item text-left p-8">
                <p>J'ai consulté Mme MILLIET 2 fois en quatre ans et je ne peux que vous la recommander, elle est bienveillante, vous met à l'aise, 
                    vous explique parfaitement bien comment va se dérouler la séance et on ressort de chez elle véritablement apaisée. Pour ma part en tout cas, 
                    je suis ravie et toutes ces prédictions et avertissements se sont avérées utiles et justes.
                </p>
                <h3 class="testifying">Clemence.D</h3>
            </div>
            <div class="carousel-item text-left p-4">
                <p>Une question quant à votre présent et/ou votre avenir ? Je vous recommande Nathalie. 
                    Tout simplement stupéfiante ! Bienveillante, pédagogue, sensible, souriante et pertinente ! 
                    En 1h, le doute à fait place à l’évidence... Tout simplement : merci d’être sur mon chemin ! À bientôt...
                </p>
                <h3 class="testifying">Claire.B</h3>                      
            </div>
        </div>
    </div>
</section> 
<div class="testimony-contact">
    <a href="#" class="button-testimony">Témoignez en cliquant ici</a>
</div>