<div class="row align-items-center fw-bold" id="footer">
    <div class="col-xs-12 col-sm-6 text-center fs-1" id="footer_left">
        <h2>NATHALIE MILLIET</h2>
    </div>
    <div class="col-xs-12 col-sm-6 text-center" id="footer_right">
        <div class="row">
            <a class="text-reset text-decoration-none fs-3"href="/Contact/index" alt="contact">CONTACT</a>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6-ml-3">
                <img src='/assets/images/telephone.png' alt='telephone'>
            </div>
        </div>
    </div>
</div>