<nav class="navbar navbar-expand-sm" id="navbar">
    <div class="container-fluid flex-row flex-sm-column">
        <a class="navbar-brand" href="/#navbar">
            <h1>NATHALIE MILLIET</h1>
        </a>
        <a class="navbar-brand-subtitle" href="/">
            VOYANCE - MEDIUM - TAROT    
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="far fa-eye"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav justify-content-between">
                <a class="nav-link" href="/#navbar">ACCUEIL</a>
                <a class="nav-link" href="/#story">QUI SUIS-JE?</a>
                <a class="nav-link" href="/#services">PRESTATIONS</a>
                <a class="nav-link" href="/#testimony">TÉMOIGNAGES</a>
                <a class="nav-link" href="/Contact/index">CONTACT</a>
            </div>
        </div>
    </div>
</nav>