<section class="story" id="story">
    <div class="box-story">
        <h2>Qui suis-je?</h2>
        <div class="container-story">
            <img src="assets/images/story/photo_nathalie2.webp" class="img-fluid" alt="photo de Nathalie jeune">    
            <p>Depuis l'âge de 8 ans, je perçois des sons ainsi que des visions. 
                A cette époque cela était difficile à appréhender ce phénomène. 
                Puis ne pouvant pas m'en défaire, j'ai appris à l'accepter et à le maîtriser. 
                C'est pourquoi, je vous propose de partager mon don et de lire à travers les cartes votre avenir.
            </p>
            <div class="services-contact">
                <a href="/home/fullStory" class="button-services">Venez me découvrir</a>
            </div>
        </div>
    </div>    
</section>  
