<nav class="navbar navbar-expand-sm">
    <div class="container-fluid flex-row flex-sm-column">
        <a class="navbar-brand" href="/">
            <h1>NATHALIE MILLIET</h1>
        </a>
        <a class="navbar-brand-subtitle" href="/">
            VOYANCE - MEDIUM - TAROT    
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="far fa-eye"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">ACCUEIL VISITEUR</a>
                <a class="nav-link" href="/Admin/index/#adminService">PRESTATIONS</a>
                <a class="nav-link" href="/Admin/index/#adminTestimonies">TEMOIGNAGES</a>
            </div>
        </div>
    </div>
</nav>