<nav class="navbar navbar-expand-sm">
    <div class="container-fluid flex-row flex-sm-column">
        <a class="navbar-brand" href="/">
            <h1>NATHALIE VOYANCE</h1>
        </a>
        <a class="navbar-brand-subtitle" href="/">
            VOYANCE - MEDIUM - TAROT    
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="far fa-eye"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="http://localhost:8000/">ACCUEIL VISITOR</a>
                <a class="nav-link" href="#prestations">PRESTATIONS</a>
                <a class="nav-link" href="#testimony">TEMOIGNAGES</a>
                <a class="nav-link" href="contact/index">CONTACT</a>
            </div>
        </div>
    </div>
</nav>
