@import 'style.css';


html, body {
    min-height: var(--width-Full);
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-xxsmall-size);
    color: var(--background-color);
}

h1 {
    margin: 0 0 var(--margin-bottom);
    font-weight: var(--xlight-font-weight);
    color: var(--background-color);
}

form {
    padding: calc(var(--padding)*3);
    margin: auto;
    box-shadow: 0 2px 5px var(--background-color); 
    background: linear-gradient(to right,var(--primary-color),var(--secondary-color));
}
    
input, textarea {
    width: var(--width-Full);
    padding: var(--padding);
    margin-bottom: var(--margin-bottom);
    border: 1px solid var(--primary-color);
    outline: none;
}
    
.placeholder {
    color: var(--placeholder);
}
    
button {
    width: var(--width-half);
    padding: var(--padding);
    border: none;
    background: var(--background-color); 
    font-size: var(--font-xxsmall-size);
    font-weight: var(--xlight-font-weight);
    color: var(--primary-color);
}
    
.buttoncontact {
    display: flex;
    justify-content: center;
}
    
button:hover {
    transform: scale(1.025);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}    
   
.subject {
    margin-bottom: var(--margin-bottom);
    width: var(--width-half);
}
    
select {
    display: flex;
    justify-content: center;
}

label {
    margin-bottom: calc(var(--margin-bottom)/4);
    font-size: var(--font-xsmall-size);
    font-weight: var(--xlight-font-weight);
}

.errors {
    color: var(--background-color);
    list-style: none;
}
    
@media (min-width: 568px) {
    .main-block {
    flex-direction: row;
    }
    .left-part, form {
    width: var(--width-half);
    }
}

@media (max-width: 768px) {
    .subject {
        width: 70%;
    }
}


