html, body {
    min-height: var(--width-Full);
    padding: var(--spacing-form);
    margin: var(--spacing-form);
    font-family: var(--font-family);
    font-size: var(--font-xxsmall-size);
    color: var(--background-color);
    background-color: var(--background-color);
}

.contact-me {
    margin: var(--spacing-form) var(--spacing-form) var(--margin-bottom);
    font-weight: var(--xlight-font-weight);
    color: var(--background-color);
}

form {
    padding: calc(var(--padding)*3);
    margin: auto;
    box-shadow: var(--box-shadow); 
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    margin-top: var(--margin-top);
}
    
input, textarea {
    width: var(--width-Full);
    padding: var(--padding);
    margin-bottom: var(--margin-bottom);
    border: 1px solid var(--primary-color);
    outline: none;
}
    
.placeholder {
    color: var(--placeholder);
}
    
.send {
    width: var(--width-half);
    padding: var(--padding);
    border: none;
    background: var(--background-color); 
    font-size: var(--font-xxsmall-size);
    font-weight: var(--xlight-font-weight);
    color: var(--primary-color);
}
    
.button-contact {
    display: flex;
    justify-content: center;
    transition: var(--transition-prestations);
}
    
button:hover {
    transform: var(--card-hover-transform);
    box-shadow: var(--card-hover-shadow);
}    
   
.subject {
    margin-bottom: var(--margin-bottom);
    width: var(--width-half);
}
    
select {
    display: flex;
    justify-content: center;
}

label {
    margin-bottom: calc(var(--margin-bottom)/4);
    font-size: var(--font-xsmall-size);
    font-weight: var(--xlight-font-weight);
}

.errors {
    color: var(--background-color);
    list-style: none;
}

.phone-number {
    padding: var(--padding);
    width: var(--phone-form-width);
}
    
@media (min-width: 568px) {
    form {
        width: var(--width-half);
    }
}

@media (max-width: 768px) {
    .subject {
        width: var(--width-Big);
    }
}
