@import "style.css";

:root{
    --heightSection: 50vw;
}

.story{
    color: var(--primary-color);
    height: var( --heightSection);
    border: 1px solid; 
    text-align: center;
}

.story h2{
    margin-top: 20px;
}

.storyImgText{
    height: 80%;
    display: flex;
    justify-content: space-around;
 }

.storyImgText img{
    margin:20px;
    object-fit: contain;
    align-self: center;
    width: 30%;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
}

.storyImgText p{
    font-family: var(--font-family);
    font-weight: bolder;
    width: 40%;
    align-self: center;
}

.storyImgText a{
    font-family: var(--font-family);
    font-size: large;
}

@media screen and (max-width: 700px) {
    .storyImgText{
        flex-direction: column;
    }

    .story{
        height: auto;
    }
}