@import 'style.css';

:root{
    --heightSection: 40vw;
    --backgroundImageHome: url("../images/home/purple_nebula.jpg");
    --colorFont:  #FEF8FF;
    
}





.home{
    margin: var(--navbar_height), 100px;
    color: var(--colorFont);
    height: var(--heightSection);
   
    background-image: var(--backgroundImageHome);
  
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    /*align-self: center;*/
    text-align: center;
}

.home img{
    height: auto;
   /* align-self:  center;*/
    padding:  30px;
    object-fit: contain;
}

.h2a{
    align-self: center;
}
.home h2{
    font-size: 3em;
    text-shadow: 2px 2px rebeccapurple;
}
.home a{
    margin: 20px;
}

@media screen and (max-width: 700px) {
    .home{
        flex-direction: column;
        height: auto;
    }
    .home img{
        height: 300px;
        align-self:  center;
        margin: 30px;
        object-fit: cover;
    }

    .home h2{
        font-size: 1.1em;
    }
  
}