@import 'style.css';

:root{
    --heightSection: 40vw;
    --backgroundImageHome: url("../images/home/purple_nebula.jpg");
    --colorFont:  #FEF8FF;

    --p-font-size: 3em;
    --p-font-size-1600: 2em;
    --p-font-size-700: 1.1em;
    
}

.home{
    margin: var(--navbar_height), 100px;
    color: var(--colorFont);
    height: var(--heightSection);
    background-image: var(--backgroundImageHome);
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.home img{
    height: auto;
    padding:  30px;
}

.h2a{
    padding:  30px;
    align-self: center;
}

.home p{
    font-size: var(--p-font-size);
    text-shadow: 2px 2px rebeccapurple;
}

.home a{
    margin: 20px;
}

.colorButton{
    color: var(--background-color);
    background-color: var(--secondary-color);
}

@media screen and (max-width: 1600px) {
    .home p{
        font-size: var(--p-font-size-1600);
    }
}
@media screen and (max-width: 700px) {

    .home{
        flex-direction: column;
        height: auto;
    }

    .home img{
        height: 300px;
        align-self:  center;
    }

    .home p{
        font-size: var(--p-font-size-700);
    }
}