@import 'style.css';

body {
    padding:0;
    margin: 0;
}

.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: var(--navbar_height);
}

.navbar {
    background-image: url(../images/fond-medium-navbar.png);
    padding: 0;
    width: var(--section_width);
    height: var(--navbar_height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3em;
    padding-top: var(--padding-top);
    font-weight: 900;
    letter-spacing: 10px;
}

.title:hover {
    color: var(--primary-color);
}

.subtitle {
    font-size: 1em;
    font-weight: 600;
}

.subtitle:hover {
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--font-family);
}



.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
    align-self: center;
}

.items a {
    transition: all 0.6s ease-out;
    color: var(--background-color);
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 3px;
}

.items a:hover {
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.burger {
    font-size: 2em;
    color: var(--primary-color);
    display: none;
    position:absolute;
    top: 67%;
    right: 3%;
}

.items:target {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: #8d44ad69;
    opacity: 0.95;
    width: var(--section_width);
    height: 100vh;
    transition: ease 0.7s;
}

.close {
    display: none;
    position:absolute;
    top: 30%;
    right: 15%;
}

@media screen and (max-width: 768px) {
    .burger {
        display: block;
    }
    
    .items {
        display: none;
    }

    .nav-top {
        padding: var(--secondaryPadding);
        width: 100%;
    }
    .close {
        display: block;
    }
    .items a {
        font-size: 1.4em;
        padding: 0 var(--primaryPadding);
        margin: 5px;
        font-weight: 800;
    }

    .navbar {
        flex-direction: row;
        height:fit-content;
    }

    .title {
        letter-spacing: 2px;
        font-size: 2.6em;
        padding-top: 4%;
    }

    .title-box {
        height:200px;
    }
}
