@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap%27');

:root {
    --primary-color: #4A235A ;
    --secondary-color: #8E44AD;
    --background-color: #FEF8FF;
    --big-size: 50px;
    --medium-size: 45px;
    --small-size: 30px;
    --xsmall-size: 20px;
    --text-Shadow: 2px 2px rebeccapurple;
    --background-image-home: url("../images/home/purple_nebula.webp");   
}
