@import 'style.css';

h2 {
    text-align: center;
    margin: var(--margin-bottom);
}

.carousel-caption {
    flex-direction: column-reverse;
    background-color: var(--background-carousel);
    background-position: center;
    height: var(--carousel-height);
}

.carousel-caption p {
    font-family: var(--font-family);
    font-size: var(--font-small-size);
}

.carousel-caption h3{
    text-align: center;
    font-family: var(--font-family);
    font-size: var(--font-small-size);
}

@media screen and (min-width: 650px) and (max-width: 880px){
    .carousel-caption p {
        font-size: var(--font-xsmall-size);
    }
    .carousel-caption h3 {
        font-size: var(--font-xsmall-size);
    }
}

@media screen and (max-width: 650px){
    .carousel-caption p {
        font-size: var(--font-xxsmall-size);
    }
    .carousel-caption h3 {
        font-size: var(--font-xxsmall-size);
    }
}

@media screen and (max-width: 450px){
    .carousel-caption p {
        font-size: var(--font-mini-size);
    }
    .carousel-caption h3 {
        font-size: var(--font-mini-size);
    }
}
    

