{% block stylesheet %}<link rel="stylesheet" href="/assets/css/footer.css">{% endblock %}

{% block footer %}

<section class="nath-footer">
    <div class="left-footer">
        NATHALIE MILLIET
    </div>
    <div class="right-footer">
        <div class="footer-contact">
            <a href="#" alt="contact">CONTACT</a>
        </div>
        <div class="footer-phone">
        </div>    
    </div>
</section>

{% endblock %}