{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/navbar.css">
{% endblock %}
    <nav class="navbar navbar-expand-sm fixed-top">
        <div class="container-fluid flex-row flex-sm-column">
            <a class="navbar-brand" href="/">
                NATHALIE VOYANCE 
            </a>
            <a class="navbar-brand-subtitle" href="/">
                VOYANCE - MEDIUM - TAROT    
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="far fa-eye"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="#">ACCUEIL</a>
                    <a class="nav-link" href="#">QUI SUIS-JE?</a>
                    <a class="nav-link" href="#">PRESTATIONS</a>
                    <a class="nav-link" href="#">TEMOIGNAGES</a>
                    <a class="nav-link" href="#">CONTACT</a>
                </div>
            </div>
        </div>
    </nav>

{% block javascript %}<script src="https://kit.fontawesome.com/5b0b013c1e.js" crossorigin="anonymous"></script>{% endblock %}

