{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/navbar.css">
{% endblock %}

<nav class="navbar">
  <div class="container">
    <div class="title-container">
      <a class="title">NATHALIE MILLIET</a>
      <a class="subtitle">VOYANCE-MEDIUM-TAROT</a>
    </div>
    <div class="items" id="items">
      <a class="close" href="#close">
        <i class="far fa-times-circle"></i>
      </a>
      <a href="#">
          ACCUEIL
      </a>
      <a href="#">
          QUI SUIS-JE?
      </a>
      <a href="#">
          PRESTATIONS
      </a>
      <a href="#">
          TEMOIGNAGES
      </a>
      <a href="#">
          CONTACT
      </a>
    </div>
  </div>
  <a class="burger" href="#items">
    <i class="far fa-eye"></i>
  </a>
</nav>

{% block javascript %}<script src="https://kit.fontawesome.com/5b0b013c1e.js" crossorigin="anonymous"></script>{% endblock %}
