{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/contact.css">{% endblock %}

{% block content %}
    <form action="/contact/index" class="form" method= "POST">
        <h2 class="contact-me">Contactez moi</h2>
        {% if errors %}
            <ul>
            {% for error in errors %}
                <li class="errors">{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <div class="info">
            <label for="name">Nom complet :</label>
            <input class="name" type="text" name="name" placeholder="Nom complet" required>
            <label for="email">Adresse mail :</label>
            <input class="email" type="text" name="email" placeholder="exemple@exemple.com" required>
            <label for="tel">Numéro de téléphone :</label>
            <input class="tel" type="tel" name="tel" size="14" placeholder="00 00 00 00 00" required>
            <label for="subject">Sujet : </label>
            <select class="subject" name="subject" id="subject">
                <option value="">--Veuillez choisir votre sujet--</option>
                <option value="tel-session">Séance téléphonique</option>
                <option value="cabinet-session">Séance au cabinet</option>
                <option value="infos">Demande d'informations</option>
                <option value="other">Autres</option>
            </select>
        </div>
        <div>
            <label for="message">Votre message :</label>
            <textarea name="message" id="message" rows="4" placeholder="Votre message" required></textarea>
        </div>
        <div class="button-contact">
            <button type="submit">Envoyer</button>
        </div>
    </form>
{% endblock %}
