{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/success.css">{% endblock %}

{% block content %}
<div class="box-container">
    <div class="success-box">
        <h2 class="success-message">Votre message à bien été envoyé</h2>
        <div class="button-contact">
            <button type="submit">Accueil</button>
        </div>
    </div>
</div>
{% endblock %}
